body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  background-color:#121212;
  font-family: Arial, sans-serif;
}

.page {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #121212;
  border-radius: 5%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 3em;
  color: #AAFF30;
  text-transform: uppercase;
  font-weight: bold;
}


.title h2 {
  margin-top: -10px;
  font-size: 1.5em;
}

.second-name {
  margin-left: 10px;
}

.goals h3 {
  color: #AAFF30;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content img {
  opacity: 0.9;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.word-div {
  width: 100%;
}

.time {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time span {
  margin-bottom: 10px;
  font-size: 1.4em;
}

.links {
  text-align: center;
  padding: 20px;
}

.links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: #B34C49;
  text-decoration: none;
  border: 1px solid #B34C49;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: #B34C49;
  color: white;
}

/*responsiveness */
@media (min-width: 600px) {
  .content {
    flex-direction: row;
    justify-content: center;
  }

  .word-div {
    padding-left: 20px;
    width: 60%;
  }

  .content img {
    width: 30%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .title h1 {
    font-size: 3.5em;
  }

  .title h2 {
    font-size: 1.8em;
  }

  .goals h3 {
    font-size: 2.2em;
  }

  .time span {
    font-size: 1.6em;
  }
}

@media (min-width: 992px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .word-div {
    padding-left: 50px;
    width: 50%;
  }

  .content img {
    width: 40%;
    height: auto;
  }
}
